@font-face {
    font-family: 'Bad Script';
    font-weight: 400;
    src: url("../fonts/bad-script-v16-latin_cyrillic-regular.woff2") format("woff2"),
         url("../fonts/bad-script-v16-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url("../fonts/open-sans-v29-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v29-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: url("../fonts/open-sans-v29-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/open-sans-v29-latin_cyrillic-700.woff") format("woff");
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.men {
    background-color: #EFF9FE;
}

.women {
    background-color: #FFF1F8;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1320px;
    padding: 0 30px;
    margin: 0 auto;
}

.header {
    position: relative;
    z-index: 1;
    padding: 28px 0;
    background: #FFFFFF;
    box-shadow: 0 1px 20px rgba(72, 3, 38, 0.07);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header__button-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.header__button-wrapper_change-card {
    gap: 30px;
}

.header__button-wrapper_change-gender {
    gap: 20px;
}

.header__button-change {
    width: 300px;
    height: 65px;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    padding: 0;
    transition: opacity 0.2s ease-in-out;
}

.header__button-change:hover {
    opacity: .8;
}

.header__button-change:active {
    outline: 2px solid #FFFFFF;
    outline-offset: -5px;
}

.men .header__button-change {
    background-color: #1178B2;
}

.women .header__button-change {
    background-color: #C300C7;
}

.header__button-gender {
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 0 0 24px 4px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px;
    padding: 0;
    transition: background-color 0.2s ease-in-out;
}

.men .header__button-gender:hover {
    background-color: #EFF9FE;
}

.women .header__button-gender:hover {
    background-color: #FFF1F8;
}

.header__button-gender_men {
    background-image: url("../image/men.svg");
}

.header__button-gender_women {
    background-image: url("../image/women.svg");
}


.men .header__button-gender_men {
    border-color: #1178B2;
}

.women .header__button-gender_women {
    border-color: #C300C7;
}

.card {
    flex-grow: 1;
    padding: 32px 0 15px;
    display: flex;
    align-items: center;
}

.card__container {
    display: flex;
}

.card__wrapper {
    position: relative;
    display: flex;
    margin: auto;
    box-shadow: 0 0 50px rgba(96, 4, 50, 0.23);
    font-size: 3px;
}

.card__text {
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    font-size: max(3em, min(calc(100vw * 3 / (840 / 3 / 2)), 6em));
    line-height: 1.6
}

.women .card__text {
    font-family: 'Bad Script', sans-serif;
}

.men .card__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.footer {
    padding: 17px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyrights > p {
    margin: 0 0 8px 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #000000;
}

.footer__copyrights > p:last-child {
    margin: 0;
    font-size: 14px;
    line-height: 19px;
}

.footer__social {
    display: flex;
    height: 36px;
    gap: 16px;
}

.footer__social-link {
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
}

.footer__social-link:hover {
    opacity: .6;
}

.men .footer__social-link {
    color: #1178B2;
}

.women .footer__social-link {
    color: #C300C7;
}

@media (max-width: 880px) {
    .container {
        padding: 0 10px;
    }

    .header__button-wrapper {
        gap: 30px;
    }

    .header__button-change {
        width: 220px;
        height: 45px;
        font-size: 14px;
        margin-right: 0;
    }

    .header__button-gender {
        width: 40px;
        height: 40px;
        background-size: 30px;
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .footer__container {
        flex-direction: column;
        gap: 20px;
    }

    .footer__copyrights {
        order: 1;
    }
}